Repository SAP/fundamental-styles, pull requests merged in 2020-06, with the labels that each got.

#1084 chore: update package versions in package.json
  package-lock.json
  package.json
Labels: Dependencies, security

#1078 chore: add workaround for release notes generation
  ci-scripts/publish.sh
Labels: tooling

#1082 feat: remove image
  docs/_data/components.yml
  docs/_data/sidebars/left-navigation-sidebar.yml
  docs/images/component-visual/image.png
  docs/pages/components/image.md
  docs/pages/layouts/page-layout.md
  src/fundamental-styles.scss
  src/image.scss
  test/app.js
  test/templates/image/component.njk
  test/templates/image/data.json
  test/templates/image/index.njk
  test/templates/index.njk
  test/visual-regression-tests/reference_images/FS_image_0_backstop_0_.png
  test/visual-regression-tests/reference_images/FS_image_1_backstop__n1_0_.png
Labels: 0.11.0

#1079 feat: remove spinner
  docs/_data/components.yml
  docs/_data/sidebars/left-navigation-sidebar.yml
  docs/images/component-visual/loading-spinner.png
  docs/pages/components/loading-spinner.md
  src/fundamental-styles.scss
  src/spinner.scss
  test/templates/index.njk
  test/templates/spinner/component.njk
  test/templates/spinner/data.json
  test/templates/spinner/index.njk
Labels: 0.11.0

#1081 feat: remove identifier
  docs/_data/sidebars/left-navigation-sidebar.yml
  docs/_sass/_docs-display-component.scss
  docs/pages/components/identifier.md
  src/fundamental-styles.scss
  src/identifier.scss
  test/templates/identifier/component.njk
  test/templates/identifier/data.json
  test/templates/identifier/index.njk
  test/visual-regression-tests/reference_images/FS_identifier_0_backstop_0_.png
  test/visual-regression-tests/reference_images/FS_identifier_1_backstop__n1_0_.png
  test/visual-regression-tests/reference_images/FS_identifier_2_backstop__n2_0_.png
  test/visual-regression-tests/reference_images/FS_identifier_3_backstop__n3_0_.png
Labels: 0.11.0

#1096 chore: cleanup package.json - use cross-env for environment variables, add jest snapshots
  config/jest.config.js
  integration/__image_snapshots__/storyshots-test-js-image-storyshots-button-text-1-snap.png
  integration/__image_snapshots__/storyshots-test-js-image-storyshots-expand-panel-all-cases-1-snap.png
  integration/__image_snapshots__/storyshots-test-js-image-storyshots-layout-panel-all-cases-1-snap.png
  integration/__image_snapshots__/storyshots-test-js-image-storyshots-numeric-content-all-cases-1-snap.png
  integration/__image_snapshots__/storyshots-test-js-image-storyshots-step-input-all-cases-1-snap.png
  integration/__image_snapshots__/storyshots-test-js-image-storyshots-tile-all-cases-1-snap.png
  integration/__image_snapshots__/storyshots-test-js-image-storyshots-toolbar-default-1-snap.png
  integration/__image_snapshots__/storyshots-test-js-image-storyshots-toolbar-overflow-menu-opened-1-snap.png
  integration/__image_snapshots__/storyshots-test-js-image-storyshots-toolbar-rtl-1-snap.png
  integration/storyshots.test.js
  package-lock.json
  package.json
  stories/button/__snapshots__/button.stories.storyshot
  stories/button/button.html
  stories/button/button.stories.js
  stories/layout-panel/__snapshots__/layout-panel.stories.storyshot
  stories/numeric-content/__snapshots__/numerci-content.stories.storyshot
  stories/panel/__snapshots__/panel.stories.storyshot
  stories/step-input/__snapshots__/step-input.stories.storyshot
  stories/tile/__snapshots__/tile.stories.storyshot
  stories/toolbar/__snapshots__/toolbar.stories.storyshot
  storybook-testing/__image_snapshots__/visual-tests-test-js-storyshots-button-emphasized-1-snap.png
  storybook-testing/__image_snapshots__/visual-tests-test-js-storyshots-button-icon-1-snap.png
  storybook-testing/__image_snapshots__/visual-tests-test-js-storyshots-button-primary-1-snap.png
  storybook-testing/__image_snapshots__/visual-tests-test-js-storyshots-expand-panel-all-cases-1-snap.png
  storybook-testing/__image_snapshots__/visual-tests-test-js-storyshots-layout-panel-all-cases-1-snap.png
  storybook-testing/__image_snapshots__/visual-tests-test-js-storyshots-numeric-content-all-cases-1-snap.png
  storybook-testing/__image_snapshots__/visual-tests-test-js-storyshots-step-input-all-cases-1-snap.png
  storybook-testing/__image_snapshots__/visual-tests-test-js-storyshots-tile-all-cases-1-snap.png
  storybook-testing/__image_snapshots__/visual-tests-test-js-storyshots-toolbar-default-1-snap.png
  storybook-testing/__image_snapshots__/visual-tests-test-js-storyshots-toolbar-overflow-menu-opened-1-snap.png
  storybook-testing/__image_snapshots__/visual-tests-test-js-storyshots-toolbar-rtl-1-snap.png
  storybook-testing/storyshots.test.js
  storybook-testing/visual-tests.test.js
Labels: Testing Framework, Visual Testing, tooling

#1080 chore: remove dependancies to the old settings file
  src/_nested-list.scss
  src/_product-switcher.scss
  src/layout-panel.scss
  src/menu.scss
  src/object-status.scss
  src/product-tile.scss
  src/time.scss
Labels: 0.11.0

#1095 docs: add fix for a minor typo in Panel docs
  docs/pages/components/panel.md
Labels: Doc website

#1042 feat: Migrate Table to fiori3
  .storybook/resources/theme-ugly.css
  docs/pages/components/table.md
  integration/__image_snapshots__/storyshots-test-js-image-storyshots-table-all-cases-1-snap.png
  src/table.scss
  stories/table/table.html
  stories/table/table.stories.js
  test/resources/layout.css
  test/resources/theme-ugly.css
  test/templates/table/component.njk
  test/templates/table/data.json
  test/templates/table/index.njk
  test/visual-regression-tests/reference_images/FS_table_0_backstop_0_.png
  test/visual-regression-tests/reference_images/FS_table_1_backstop__n1_0_.png
  test/visual-regression-tests/reference_images/FS_table_2_backstop__n2_0_.png
  test/visual-regression-tests/reference_images/FS_table_3_backstop__n3_0_.png
  test/visual-regression-tests/reference_images/FS_table_4_backstop__n4_0_.png
  test/visual-regression-tests/reference_images/FS_table_5_backstop__n5_0_.png
  test/visual-regression-tests/reference_images/FS_table_6_backstop__n6_0_.png
  test/visual-regression-tests/reference_images/FS_table_7_backstop__n7_0_.png
  test/visual-regression-tests/reference_images/FS_table_8_backstop__n8_0_.png
  test/visual-regression-tests/reference_images/FS_table_9_backstop__n9_0_.png
Labels: Fiori 3 refactoring, table

#1116 chore: removed old menu leftover styling
  src/_mixins.scss
  src/mixins/_menu.scss
Labels: Fiori 3 refactoring

#1121 chore: add Action Bar to Storybook
  stories/action-bar/action-bar.stories.js
  stories/action-bar/action-bar.visual.js
  storybook-testing/__image_snapshots__/visual-tests-test-js-storyshots-visual-action-bar-1-snap.png
  test/templates/action-bar/component.njk
  test/templates/action-bar/data.json
  test/templates/action-bar/index.njk
  test/templates/index.njk
  test/visual-regression-tests/reference_images/FS_action-bar_0_backstop_0_.png
  test/visual-regression-tests/reference_images/FS_action-bar_1_backstop__n1_0_.png
  test/visual-regression-tests/reference_images/FS_action-bar_2_backstop__n2_0_.png
  test/visual-regression-tests/reference_images/FS_action-bar_3_backstop__n3_0_.png
  test/visual-regression-tests/reference_images/FS_action-bar_4_backstop__n4_0_.png
  test/visual-regression-tests/reference_images/FS_action-bar_5_backstop__n5_0_.png
Labels: storybook

#1125 chore: add busy-indicator to storybook
  .storybook/custom/components/DocsPage.js
  .storybook/custom/components/InfoLabel.js
  .storybook/custom/components/tags.json
  stories/busy-indicator/__snapshots__/busy-indicator.visual.storyshot
  stories/busy-indicator/busy-indicator.stories.js
  stories/busy-indicator/busy-indicator.visual.js
  storybook-testing/__image_snapshots__/visual-tests-test-js-storyshots-visual-busy-indicator-1-snap.png
  storybook-testing/__image_snapshots__/visual-tests-test-js-storyshots-visual-layout-panel-2-snap.png
  test/templates/busy-indicator/index.njk
  test/templates/index.njk
  test/visual-regression-tests/reference_images/FS_busy-indicator_0_backstop_0_.png
  test/visual-regression-tests/reference_images/FS_busy-indicator_1_backstop__n1_0_.png
Labels: storybook

#1136 chore: add breadcrumb to storybook
  .storybook/custom/components/InfoLabel.js
  stories/breadcrumb/__snapshots__/breadcrumb.visual.storyshot
  stories/breadcrumb/breadcrumb.stories.js
  stories/breadcrumb/breadcrumb.visual.js
  storybook-testing/__image_snapshots__/visual-tests-test-js-storyshots-visual-breadcrumb-1-snap.png
  test/app.js
  test/templates/breadcrumb/component.njk
  test/templates/breadcrumb/data.json
  test/templates/breadcrumb/index.njk
  test/templates/index.njk
  test/visual-regression-tests/reference_images/FS_breadcrumb_0_backstop_0_.png
  test/visual-regression-tests/reference_images/FS_breadcrumb_1_backstop__n1_0_.png
Labels: storybook

#1058 feat: add date-picker today actions
  docs/pages/components/calendar.md
  docs/pages/patterns/date-picker.md
Labels: Doc website, Pattern

#1143 chore: Add checkbox storybook
  .storybook/custom/components/InfoLabel.js
  .storybook/custom/custom.scss
  .storybook/preview-head.html
  .storybook/static/favicon.ico
  stories/checkbox/checkbox.stories.js
  stories/checkbox/checkbox.visual.js
  storybook-testing/__image_snapshots__/visual-tests-test-js-storyshots-visual-checkbox-1-snap.png
  test/templates/checkbox/component.njk
  test/templates/checkbox/data.json
  test/templates/checkbox/index.njk
  test/templates/index.njk
  test/visual-regression-tests/reference_images/FS_checkbox_0_backstop_0_.png
  test/visual-regression-tests/reference_images/FS_checkbox_1_backstop__n1_0_.png
  test/visual-regression-tests/reference_images/FS_checkbox_2_backstop__n2_0_.png
  test/visual-regression-tests/reference_images/FS_checkbox_3_backstop__n3_0_.png
  test/visual-regression-tests/reference_images/FS_checkbox_4_backstop__n4_0_.png
  test/visual-regression-tests/reference_images/FS_checkbox_5_backstop__n5_0_.png
  test/visual-regression-tests/reference_images/FS_checkbox_6_backstop__n6_0_.png
Labels: Doc website, Testing Framework, Visual Testing, storybook

#1144 chore: create storybook for counter component and delete counter njk
  stories/counter/counter.stories.js
  stories/counter/counter.visual.js
  storybook-testing/__image_snapshots__/visual-tests-test-js-storyshots-visual-counter-1-snap.png
  test/templates/counter/component.njk
  test/templates/counter/data.json
  test/templates/counter/index.njk
  test/templates/index.njk
  test/visual-regression-tests/reference_images/FS_counter_0_backstop_0_.png
  test/visual-regression-tests/reference_images/FS_counter_1_backstop__n1_0_.png
Labels: Doc website, Testing Framework, Visual Testing, storybook

#1133 chore: add Popover to storybook
  stories/popover/popover.stories.js
  stories/popover/popover.visual.js
  storybook-testing/__image_snapshots__/visual-tests-test-js-storyshots-visual-popover-1-snap.png
  test/templates/index.njk
  test/templates/popover/component.njk
  test/templates/popover/data.json
  test/templates/popover/index.njk
  test/visual-regression-tests/reference_images/FS_popover_0_backstop_0_.png
  test/visual-regression-tests/reference_images/FS_popover_1_backstop__n1_0_.png
  test/visual-regression-tests/reference_images/FS_popover_2_backstop__n2_0_.png
  test/visual-regression-tests/reference_images/FS_popover_3_backstop__n3_0_.png
  test/visual-regression-tests/reference_images/FS_popover_4_backstop__n4_0_.png
  test/visual-regression-tests/reference_images/FS_popover_5_backstop__n5_0_.png
  test/visual-regression-tests/reference_images/FS_popover_6_backstop__n6_0_.png
  test/visual-regression-tests/reference_images/FS_popover_7_backstop__n7_0_.png
Labels: storybook

#1140 chore: add calendar to storybook
  .storybook/custom/custom.scss
  stories/calendar/__snapshots__/calendar.visual.storyshot
  stories/calendar/calendar.stories.js
  stories/calendar/calendar.visual.js
  storybook-testing/__image_snapshots__/visual-tests-test-js-storyshots-visual-calendar-1-snap.png
  test/templates/calendar/component.njk
  test/templates/calendar/data.json
  test/templates/calendar/index.njk
  test/templates/index.njk
  test/visual-regression-tests/reference_images/FS_calendar_0_backstop_0_.png
  test/visual-regression-tests/reference_images/FS_calendar_1_backstop__n1_0_.png
  test/visual-regression-tests/reference_images/FS_calendar_2_backstop__n2_0_.png
  test/visual-regression-tests/reference_images/FS_calendar_3_backstop__n3_0_.png
  test/visual-regression-tests/reference_images/FS_calendar_4_backstop__n4_0_.png
Labels: storybook

#1145 chore: add dialog to storybook
  .storybook/preview-head.html
  stories/dialog/__snapshots__/dialog.visual.storyshot
  stories/dialog/dialog.stories.js
  stories/dialog/dialog.visual.js
  storybook-testing/__image_snapshots__/visual-tests-test-js-storyshots-visual-dialog-1-snap.png
  test/templates/dialog/component.njk
  test/templates/dialog/data.json
  test/templates/dialog/index.njk
  test/templates/index.njk
  test/visual-regression-tests/reference_images/FS_dialog_0_backstop_0_.png
  test/visual-regression-tests/reference_images/FS_dialog_1_backstop__n1_0_.png
  test/visual-regression-tests/reference_images/FS_dialog_2_backstop__n2_0_.png
  test/visual-regression-tests/reference_images/FS_dialog_3_backstop__n3_0_.png
  test/visual-regression-tests/reference_images/FS_dialog_4_backstop__n4_0_.png
  test/visual-regression-tests/reference_images/FS_dialog_5_backstop__n5_0_.png
  test/visual-regression-tests/reference_images/FS_dialog_6_backstop__n6_0_.png
  test/visual-regression-tests/reference_images/FS_dialog_7_backstop__n7_0_.png
Labels: storybook

#1138 chore: add Tree to storybook
  .storybook/preview-head.html
  src/tree.scss
  stories/breadcrumb/__snapshots__/breadcrumb.visual.storyshot
  stories/breadcrumb/breadcrumb.stories.js
  stories/input/input.stories.js
  stories/select/select.stories.js
  stories/table/__snapshots__/table.visual.storyshot
  stories/tree/tree.stories.js
  stories/tree/tree.visual.js
  storybook-testing/__image_snapshots__/visual-tests-test-js-storyshots-visual-tree-1-snap.png
  test/app.js
  test/templates/index.njk
  test/templates/tree/categories.json
  test/templates/tree/component.njk
  test/templates/tree/data.json
  test/templates/tree/index.njk
Labels: storybook

#1146 chore: create link storybook and delete link njk tests
  stories/link/link.stories.js
  stories/link/link.visual.js
  storybook-testing/__image_snapshots__/visual-tests-test-js-storyshots-visual-link-1-snap.png
  test/templates/index.njk
  test/templates/link/component.njk
  test/templates/link/data.json
  test/templates/link/index.njk
  test/visual-regression-tests/reference_images/FS_link_0_backstop_0_.png
Labels: Doc website, Testing Framework, Visual Testing, storybook

#1150 chore: add storybook for radio button and delete njk test
  stories/radio/radio.stories.js
  stories/radio/radio.visual.js
  storybook-testing/__image_snapshots__/visual-tests-test-js-storyshots-visual-radio-1-snap.png
  test/templates/index.njk
  test/templates/radio/component.njk
  test/templates/radio/data.json
  test/templates/radio/index.njk
  test/visual-regression-tests/reference_images/FS_radio_0_backstop_0_.png
  test/visual-regression-tests/reference_images/FS_radio_1_backstop__n1_0_.png
  test/visual-regression-tests/reference_images/FS_radio_2_backstop__n2_0_.png
  test/visual-regression-tests/reference_images/FS_radio_3_backstop__n3_0_.png
  test/visual-regression-tests/reference_images/FS_radio_4_backstop__n4_0_.png
  test/visual-regression-tests/reference_images/FS_radio_5_backstop__n5_0_.png
Labels: Doc website, Testing Framework, Visual Testing, storybook

#1148 feat: remove form-input-message-group and introduce textarea storybook
  .storybook/preview-head.html
  docs/pages/components/form.md
  src/form-input-message-group.scss
  src/fundamental-styles.scss
  stories/input/input.stories.js
  stories/textarea/__snapshots__/textarea.visual.storyshot
  stories/textarea/textarea.stories.js
  stories/textarea/textarea.visual.js
  storybook-testing/__image_snapshots__/visual-tests-test-js-storyshots-visual-textarea-1-snap.png
  test/templates/index.njk
  test/templates/textarea/component.njk
  test/templates/textarea/data.json
  test/templates/textarea/index.njk
  test/visual-regression-tests/reference_images/FS_textarea_0_backstop_0_.png
  test/visual-regression-tests/reference_images/FS_textarea_1_backstop__n1_0_.png
  test/visual-regression-tests/reference_images/FS_textarea_2_backstop__n2_0_.png
  test/visual-regression-tests/reference_images/FS_textarea_3_backstop__n3_0_.png
  test/visual-regression-tests/reference_images/FS_textarea_4_backstop__n4_0_.png
Labels: Doc website, Visual Testing, storybook

#1126 chore: add Asset Upload to Storybook
  stories/asset-upload/asset-upload.stories.js
  stories/asset-upload/asset-upload.visual.js
  storybook-testing/__image_snapshots__/visual-tests-test-js-storyshots-visual-asset-upload-1-snap.png
  test/templates/asset-upload/component.njk
  test/templates/asset-upload/data.json
  test/templates/asset-upload/index.njk
  test/templates/index.njk
  test/visual-regression-tests/reference_images/FS_asset-upload_0_backstop_0_.png
Labels: storybook

#1142 chore: Create stories for Message Box
  stories/message-box/message-box.stories.js
  stories/message-box/message-box.visual.js
  test/templates/index.njk
  test/templates/message-box/index.njk
  test/visual-regression-tests/reference_images/FS_message-box_0_backstop_0_.png
  test/visual-regression-tests/reference_images/FS_message-box_1_backstop__n1_0_.png
  test/visual-regression-tests/reference_images/FS_message-box_2_backstop__n2_0_.png
Labels: storybook

#1141 chore: add Time component to Storybook
  .prettierrc.json
  stories/time/__snapshots__/time.visual.storyshot
  stories/time/time.stories.js
  stories/time/time.visual.js
  storybook-testing/__image_snapshots__/visual-tests-test-js-storyshots-visual-time-1-snap.png
  test/templates/index.njk
  test/templates/time/component.njk
  test/templates/time/data.json
  test/templates/time/index.njk
  test/visual-regression-tests/reference_images/FS_time_0_backstop_0_.png
  test/visual-regression-tests/reference_images/FS_time_10_backstop__n10_0_.png
  test/visual-regression-tests/reference_images/FS_time_11_backstop__n11_0_.png
  test/visual-regression-tests/reference_images/FS_time_1_backstop__n1_0_.png
  test/visual-regression-tests/reference_images/FS_time_2_backstop__n2_0_.png
  test/visual-regression-tests/reference_images/FS_time_3_backstop__n3_0_.png
  test/visual-regression-tests/reference_images/FS_time_4_backstop__n4_0_.png
  test/visual-regression-tests/reference_images/FS_time_5_backstop__n5_0_.png
  test/visual-regression-tests/reference_images/FS_time_6_backstop__n6_0_.png
  test/visual-regression-tests/reference_images/FS_time_7_backstop__n7_0_.png
  test/visual-regression-tests/reference_images/FS_time_8_backstop__n8_0_.png
  test/visual-regression-tests/reference_images/FS_time_9_backstop__n9_0_.png
Labels: Doc website

#1122 chore: Create stories for Info Label
  stories/info-label/info-label.stories.js
  stories/info-label/info-label.visual.js
  stories/table/__snapshots__/table.visual.storyshot
  storybook-testing/__image_snapshots__/visual-tests-test-js-storyshots-visual-info-label-1-snap.png
  test/templates/index.njk
  test/templates/info-label/component.njk
  test/templates/info-label/data.json
  test/templates/info-label/index.njk
  test/visual-regression-tests/reference_images/FS_info-label_0_backstop_0_.png
  test/visual-regression-tests/reference_images/FS_info-label_1_backstop__n1_0_.png
  test/visual-regression-tests/reference_images/FS_info-label_2_backstop__n2_0_.png
Labels: storybook

#1134 chore: add shellbar to storybook
  stories/shellbar/shellbar.stories.js
  stories/shellbar/shellbar.visual.js
  test/templates/index.njk
  test/templates/shellbar/component.njk
  test/templates/shellbar/data.json
  test/templates/shellbar/index.njk
  test/visual-regression-tests/reference_images/FS_shellbar_0_backstop_0_.png
  test/visual-regression-tests/reference_images/FS_shellbar_1_backstop__n1_0_.png
  test/visual-regression-tests/reference_images/FS_shellbar_2_backstop__n2_0_.png
  test/visual-regression-tests/reference_images/FS_shellbar_3_backstop__n3_0_.png
  test/visual-regression-tests/reference_images/FS_shellbar_4_backstop__n4_0_.png
  test/visual-regression-tests/reference_images/FS_shellbar_5_backstop__n5_0_.png
  test/visual-regression-tests/reference_images/FS_shellbar_6_backstop__n6_0_.png
Labels: storybook

#1131 chore: add Localization Editor to Storybook
  stories/localization-editor/localization-editor.stories.js
  stories/localization-editor/localization-editor.visual.js
  test/app.js
  test/templates/index.njk
  test/templates/localization-editor/component.njk
  test/templates/localization-editor/data.json
  test/templates/localization-editor/index.njk
  test/visual-regression-tests/reference_images/FS_localization-editor_0_backstop_0_.png
Labels: storybook

#1130 chore: add Notification to storybook
  .storybook/custom/components/tags.json
  stories/notification/notification.stories.js
  stories/notification/notification.visual.js
  test/templates/index.njk
  test/templates/notification/index.njk
  test/visual-regression-tests/reference_images/FS_notification_0_backstop_0_.png
  test/visual-regression-tests/reference_images/FS_notification_1_backstop__n1_0_.png
  test/visual-regression-tests/reference_images/FS_notification_2_backstop__n2_0_.png
  test/visual-regression-tests/reference_images/FS_notification_3_backstop__n3_0_.png
  test/visual-regression-tests/reference_images/FS_notification_4_backstop__n4_0_.png
  test/visual-regression-tests/reference_images/FS_notification_5_backstop__n5_0_.png
  test/visual-regression-tests/reference_images/FS_notification_6_backstop__n6_0_.png
  test/visual-regression-tests/reference_images/FS_notification_7_backstop__n7_0_.png
Labels: storybook

#1128 chore: add Menu to Storybook
  stories/menu/menu.stories.js
  stories/menu/menu.visual.js
  test/templates/index.njk
  test/templates/menu/component.njk
  test/templates/menu/data.json
  test/templates/menu/index.njk
  test/visual-regression-tests/reference_images/FS_menu_0_backstop_0_.png
  test/visual-regression-tests/reference_images/FS_menu_1_backstop__n1_0_.png
  test/visual-regression-tests/reference_images/FS_menu_2_backstop__n2_0_.png
  test/visual-regression-tests/reference_images/FS_menu_3_backstop__n3_0_.png
  test/visual-regression-tests/reference_images/FS_menu_4_backstop__n4_0_.png
  test/visual-regression-tests/reference_images/FS_menu_5_backstop__n5_0_.png
Labels: storybook

#1120 chore: add Token and Tokenizer to Storybook
  stories/token/__snapshots__/token.visual.storyshot
  stories/token/token.stories.js
  stories/token/token.visual.js
  stories/tree/__snapshots__/tree.visual.storyshot
  storybook-testing/__image_snapshots__/visual-tests-test-js-storyshots-visual-token-1-snap.png
  test/templates/index.njk
  test/templates/token/component.njk
  test/templates/token/data.json
  test/templates/token/index.njk
  test/templates/tokenizer/component.njk
  test/templates/tokenizer/data.json
  test/templates/tokenizer/index.njk
  test/visual-regression-tests/reference_images/FS_token_0_backstop_0_.png
  test/visual-regression-tests/reference_images/FS_token_1_backstop__n1_0_.png
  test/visual-regression-tests/reference_images/FS_token_2_backstop__n2_0_.png
  test/visual-regression-tests/reference_images/FS_token_3_backstop__n3_0_.png
  test/visual-regression-tests/reference_images/FS_token_4_backstop__n4_0_.png
  test/visual-regression-tests/reference_images/FS_tokenizer_0_backstop_0_.png
  test/visual-regression-tests/reference_images/FS_tokenizer_1_backstop__n1_0_.png
Labels: storybook

#1135 chore: add Bar component to Storybook
  stories/action-bar/action-bar.stories.js
  stories/bar/bar.stories.js
  stories/bar/bar.visual.js
  storybook-testing/__image_snapshots__/visual-tests-test-js-storyshots-visual-bar-1-snap.png
  test/templates/bar/index.njk
  test/templates/index.njk
  test/visual-regression-tests/reference_images/FS_bar_0_backstop_0_.png
  test/visual-regression-tests/reference_images/FS_bar_1_backstop__n1_0_.png
  test/visual-regression-tests/reference_images/FS_bar_2_backstop__n2_0_.png
  test/visual-regression-tests/reference_images/FS_bar_3_backstop__n3_0_.png
  test/visual-regression-tests/reference_images/FS_bar_4_backstop__n4_0_.png
  test/visual-regression-tests/reference_images/FS_bar_5_backstop__n5_0_.png
  test/visual-regression-tests/reference_images/FS_bar_6_backstop__n6_0_.png
Labels: storybook

#1074 feat: shellbar button outlines should follow behavior of transparent buttons
  docs/pages/components/shellbar.md
  src/shellbar.scss
Labels: Bug

#1154 fix: update inverted link hover color
  src/mixins/_mixins.scss
Labels: design review changes

#1083 docs: removed unnecessary class from docs
  docs/pages/components/toolbar.md
Labels: 0.11.0

#1124 chore: Add side-nav to storybook
  .storybook/preview-head.html
  stories/side-navigation/__snapshots__/side-navigation.stories.storyshot
  stories/side-navigation/side-navigation.stories.js
  stories/side-navigation/side-navigation.visual.js
  storybook-testing/__image_snapshots__/SideNavigation-snap.png
  storybook-testing/__image_snapshots__/visual-tests-test-js-storyshots-visual-side-navigation-1-snap.png
  test/resources/layout.css
  test/templates/_nested-list/data.json
  test/templates/_nested-list/index.njk
  test/templates/index.njk
  test/templates/side-nav/data.json
  test/templates/side-nav/index.njk
  test/visual-regression-tests/reference_images/FS__nested-list_0_backstop_0_.png
  test/visual-regression-tests/reference_images/FS__nested-list_1_backstop__n1_0_.png
  test/visual-regression-tests/reference_images/FS__nested-list_2_backstop__n2_0_.png
  test/visual-regression-tests/reference_images/FS__nested-list_3_backstop__n3_0_.png
  test/visual-regression-tests/reference_images/FS__nested-list_4_backstop__n4_0_.png
  test/visual-regression-tests/reference_images/FS_side-nav_0_backstop_0_.png
  test/visual-regression-tests/reference_images/FS_side-nav_1_backstop__n1_0_.png
Labels: storybook

#1157 chore: bump @sap-theming package
  package-lock.json
  package.json
  storybook-testing/__image_snapshots__/Icon-snap.png
  test/visual-regression-tests/reference_images/FS_product-switch_0_backstop_0_.png
  test/visual-regression-tests/reference_images/FS_product-switch_1_backstop__n1_0_.png
  test/visual-regression-tests/reference_images/FS_product-switch_2_backstop__n2_0_.png
  test/visual-regression-tests/reference_images/FS_product-switch_3_backstop__n3_0_.png
  test/visual-regression-tests/reference_images/FS_tabs_2_backstop__n2_0_.png
  test/visual-regression-tests/reference_images/FS_tabs_4_backstop__n4_0_.png
  test/visual-regression-tests/reference_images/FS_tabs_6_backstop__n6_0_.png
  test/visual-regression-tests/reference_images/FS_tabs_9_backstop__n9_0_.png
Labels: Theming

#1158 chore: remove old test and images
  test/templates/index.njk
  test/templates/layout-panel/component.njk
  test/templates/layout-panel/data.json
  test/templates/layout-panel/index.njk
  test/templates/step-input/component.njk
  test/templates/step-input/data.json
  test/templates/step-input/index.njk
  test/visual-regression-tests/reference_images/FS_button-split_0_backstop_0_.png
  test/visual-regression-tests/reference_images/FS_button-split_1_backstop__n1_0_.png
  test/visual-regression-tests/reference_images/FS_button_0_backstop_0_.png
  test/visual-regression-tests/reference_images/FS_button_1_backstop__n1_0_.png
  test/visual-regression-tests/reference_images/FS_button_2_backstop__n2_0_.png
  test/visual-regression-tests/reference_images/FS_button_3_backstop__n3_0_.png
  test/visual-regression-tests/reference_images/FS_button_4_backstop__n4_0_.png
  test/visual-regression-tests/reference_images/FS_button_5_backstop__n5_0_.png
  test/visual-regression-tests/reference_images/FS_button_6_backstop__n6_0_.png
  test/visual-regression-tests/reference_images/FS_layout-panel_0_backstop_0_.png
  test/visual-regression-tests/reference_images/FS_nav_0_backstop_0_.png
  test/visual-regression-tests/reference_images/FS_nav_1_backstop__n1_0_.png
  test/visual-regression-tests/reference_images/FS_nav_2_backstop__n2_0_.png
  test/visual-regression-tests/reference_images/FS_segmented-button_0_backstop_0_.png
  test/visual-regression-tests/reference_images/FS_step-input_0_backstop_0_.png
  test/visual-regression-tests/reference_images/FS_step-input_1_backstop__n1_0_.png
  test/visual-regression-tests/reference_images/FS_step-input_2_backstop__n2_0_.png
  test/visual-regression-tests/reference_images/FS_step-input_3_backstop__n3_0_.png
  test/visual-regression-tests/reference_images/FS_step-input_4_backstop__n4_0_.png
  test/visual-regression-tests/reference_images/FS_step-input_5_backstop__n5_0_.png
  test/visual-regression-tests/reference_images/FS_step-input_6_backstop__n6_0_.png
  test/visual-regression-tests/reference_images/FS_step-input_7_backstop__n7_0_.png
  test/visual-regression-tests/reference_images/FS_tree_0_backstop_0_.png
  test/visual-regression-tests/reference_images/FS_tree_1_backstop__n1_0_.png
  test/visual-regression-tests/reference_images/FS_tree_2_backstop__n2_0_.png
Labels: Testing Framework, Visual Testing, storybook

#1099 fix: Add fd-empty mixin, replace empty selectors
  src/button.scss
  src/checkbox.scss
  src/info-label.scss
  src/mixins/_states.scss
  src/object-status.scss
  src/radio.scss
Labels: 0.11.0

#1159 chore: add Message Strip to Storybook
  stories/message-strip/__snapshots__/message-strip.stories.storyshot
  stories/message-strip/message-strip.stories.js
  stories/message-strip/message-strip.visual.js
  storybook-testing/__image_snapshots__/MessageStrip-snap.png
  test/templates/index.njk
  test/templates/message-strip/component.njk
  test/templates/message-strip/data.json
  test/templates/message-strip/index.njk
  test/visual-regression-tests/reference_images/FS_message-strip_0_backstop_0_.png
  test/visual-regression-tests/reference_images/FS_message-strip_1_backstop__n1_0_.png
  test/visual-regression-tests/reference_images/FS_message-strip_2_backstop__n2_0_.png
  test/visual-regression-tests/reference_images/FS_message-strip_3_backstop__n3_0_.png
Labels: storybook

#1160 chore: add Message Toast to Storybook
  stories/message-toast/__snapshots__/message-toast.stories.storyshot
  stories/message-toast/message-toast.stories.js
  stories/message-toast/message-toast.visual.js
  storybook-testing/__image_snapshots__/MessageToast-snap.png
  test/templates/index.njk
  test/templates/message-toast/index.njk
  test/visual-regression-tests/reference_images/FS_message-toast_0_backstop_0_.png
Labels: Testing Framework, Visual Testing, storybook

#1166 chore: add Page to Storybook
  stories/page/__snapshots__/page.stories.storyshot
  stories/page/page.stories.js
  stories/page/page.visual.js
  storybook-testing/__image_snapshots__/Page-snap.png
  test/templates/index.njk
  test/templates/page/index.njk
  test/templates/pages/grid.njk
  test/templates/pages/layout-panel.njk
  test/templates/pages/layouts/page.njk
  test/templates/pages/layouts/shell.njk
  test/templates/pages/page.njk
  test/templates/pages/section.njk
  test/visual-regression-tests/reference_images/FS_page_0_backstop_0_.png
  test/visual-regression-tests/reference_images/FS_page_1_backstop__n1_0_.png
  test/visual-regression-tests/reference_images/FS_page_2_backstop__n2_0_.png
  test/visual-regression-tests/reference_images/FS_page_3_backstop__n3_0_.png
Labels: storybook

#1161 chore: add List to Storybook
  stories/list/byline/__snapshots__/byline-list.stories.storyshot
  stories/list/byline/byline-list.stories.js
  stories/list/list.visual.js
  stories/list/standard/__snapshots__/standard-list.stories.storyshot
  stories/list/standard/standard-list.stories.js
  storybook-testing/__image_snapshots__/BylineList-snap.png
  storybook-testing/__image_snapshots__/Icon-snap.png
  storybook-testing/__image_snapshots__/StandardList-snap.png
  test/templates/index.njk
  test/templates/list/component.njk
  test/templates/list/data.json
  test/templates/list/index.njk
  test/visual-regression-tests/reference_images/FS_list_0_backstop_0_.png
  test/visual-regression-tests/reference_images/FS_list_10_backstop__n10_0_.png
  test/visual-regression-tests/reference_images/FS_list_11_backstop__n11_0_.png
  test/visual-regression-tests/reference_images/FS_list_12_backstop__n12_0_.png
  test/visual-regression-tests/reference_images/FS_list_13_backstop__n13_0_.png
  test/visual-regression-tests/reference_images/FS_list_14_backstop__n14_0_.png
  test/visual-regression-tests/reference_images/FS_list_15_backstop__n15_0_.png
  test/visual-regression-tests/reference_images/FS_list_16_backstop__n16_0_.png
  test/visual-regression-tests/reference_images/FS_list_17_backstop__n17_0_.png
  test/visual-regression-tests/reference_images/FS_list_18_backstop__n18_0_.png
  test/visual-regression-tests/reference_images/FS_list_19_backstop__n19_0_.png
  test/visual-regression-tests/reference_images/FS_list_1_backstop__n1_0_.png
  test/visual-regression-tests/reference_images/FS_list_2_backstop__n2_0_.png
  test/visual-regression-tests/reference_images/FS_list_3_backstop__n3_0_.png
  test/visual-regression-tests/reference_images/FS_list_4_backstop__n4_0_.png
  test/visual-regression-tests/reference_images/FS_list_5_backstop__n5_0_.png
  test/visual-regression-tests/reference_images/FS_list_6_backstop__n6_0_.png
  test/visual-regression-tests/reference_images/FS_list_7_backstop__n7_0_.png
  test/visual-regression-tests/reference_images/FS_list_8_backstop__n8_0_.png
  test/visual-regression-tests/reference_images/FS_list_9_backstop__n9_0_.png
Labels: storybook

#1167 chore: add Switch to Storybook
  stories/switch/switch.stories.js
  stories/switch/switch.visual.js
  test/templates/index.njk
  test/templates/switch/component.njk
  test/templates/switch/data.json
  test/templates/switch/index.njk
  test/visual-regression-tests/reference_images/FS_switch_0_backstop_0_.png
  test/visual-regression-tests/reference_images/FS_switch_1_backstop__n1_0_.png
  test/visual-regression-tests/reference_images/FS_switch_2_backstop__n2_0_.png
Labels: storybook

#1170 chore: add Tabs to Storybook
  stories/tabs/__snapshots__/tabs.stories.storyshot
  stories/tabs/tabs.stories.js
  stories/tabs/tabs.visual.js
  storybook-testing/__image_snapshots__/Tabs-snap.png
  test/app.js
  test/templates/index.njk
  test/templates/pages/layouts/shell.njk
  test/templates/tabs/component.njk
  test/templates/tabs/data.json
  test/visual-regression-tests/reference_images/FS_tabs_0_backstop_0_.png
  test/visual-regression-tests/reference_images/FS_tabs_10_backstop__n10_0_.png
  test/visual-regression-tests/reference_images/FS_tabs_1_backstop__n1_0_.png
  test/visual-regression-tests/reference_images/FS_tabs_2_backstop__n2_0_.png
  test/visual-regression-tests/reference_images/FS_tabs_3_backstop__n3_0_.png
  test/visual-regression-tests/reference_images/FS_tabs_4_backstop__n4_0_.png
  test/visual-regression-tests/reference_images/FS_tabs_5_backstop__n5_0_.png
  test/visual-regression-tests/reference_images/FS_tabs_6_backstop__n6_0_.png
  test/visual-regression-tests/reference_images/FS_tabs_7_backstop__n7_0_.png
  test/visual-regression-tests/reference_images/FS_tabs_8_backstop__n8_0_.png
  test/visual-regression-tests/reference_images/FS_tabs_9_backstop__n9_0_.png
Labels: storybook

#1177 chore: remove old images
  test/visual-regression-tests/reference_images/FS_fieldset_0_backstop_0_.png
  test/visual-regression-tests/reference_images/FS_fieldset_1_backstop__n1_0_.png
  test/visual-regression-tests/reference_images/FS_fieldset_2_backstop__n2_0_.png
  test/visual-regression-tests/reference_images/FS_form-group_0_backstop_0_.png
  test/visual-regression-tests/reference_images/FS_form-group_1_backstop__n1_0_.png
  test/visual-regression-tests/reference_images/FS_form-group_2_backstop__n2_0_.png
  test/visual-regression-tests/reference_images/FS_form-group_3_backstop__n3_0_.png
  test/visual-regression-tests/reference_images/FS_form-item_0_backstop_0_.png
  test/visual-regression-tests/reference_images/FS_form-label_0_backstop_0_.png
  test/visual-regression-tests/reference_images/FS_form-label_1_backstop__n1_0_.png
  test/visual-regression-tests/reference_images/FS_form-label_2_backstop__n2_0_.png
  test/visual-regression-tests/reference_images/FS_form-message_0_backstop_0_.png
  test/visual-regression-tests/reference_images/FS_form-message_1_backstop__n1_0_.png
  test/visual-regression-tests/reference_images/FS_form-message_2_backstop__n2_0_.png
  test/visual-regression-tests/reference_images/FS_form-message_3_backstop__n3_0_.png
  test/visual-regression-tests/reference_images/FS_form-select_0_backstop_0_.png
  test/visual-regression-tests/reference_images/FS_form-select_1_backstop__n1_0_.png
  test/visual-regression-tests/reference_images/FS_form-select_2_backstop__n2_0_.png
  test/visual-regression-tests/reference_images/FS_form-select_3_backstop__n3_0_.png
  test/visual-regression-tests/reference_images/FS_form-select_4_backstop__n4_0_.png
  test/visual-regression-tests/reference_images/FS_list_0_backstop_0_.png
  test/visual-regression-tests/reference_images/FS_list_10_backstop__n10_0_.png
  test/visual-regression-tests/reference_images/FS_list_11_backstop__n11_0_.png
  test/visual-regression-tests/reference_images/FS_list_12_backstop__n12_0_.png
  test/visual-regression-tests/reference_images/FS_list_13_backstop__n13_0_.png
  test/visual-regression-tests/reference_images/FS_list_14_backstop__n14_0_.png
  test/visual-regression-tests/reference_images/FS_list_15_backstop__n15_0_.png
  test/visual-regression-tests/reference_images/FS_list_16_backstop__n16_0_.png
  test/visual-regression-tests/reference_images/FS_list_17_backstop__n17_0_.png
  test/visual-regression-tests/reference_images/FS_list_18_backstop__n18_0_.png
  test/visual-regression-tests/reference_images/FS_list_19_backstop__n19_0_.png
  test/visual-regression-tests/reference_images/FS_list_1_backstop__n1_0_.png
  test/visual-regression-tests/reference_images/FS_list_2_backstop__n2_0_.png
  test/visual-regression-tests/reference_images/FS_list_3_backstop__n3_0_.png
  test/visual-regression-tests/reference_images/FS_list_4_backstop__n4_0_.png
  test/visual-regression-tests/reference_images/FS_list_5_backstop__n5_0_.png
  test/visual-regression-tests/reference_images/FS_list_6_backstop__n6_0_.png
  test/visual-regression-tests/reference_images/FS_list_7_backstop__n7_0_.png
  test/visual-regression-tests/reference_images/FS_list_8_backstop__n8_0_.png
  test/visual-regression-tests/reference_images/FS_list_9_backstop__n9_0_.png
  test/visual-regression-tests/reference_images/FS_message-strip_0_backstop_0_.png
  test/visual-regression-tests/reference_images/FS_message-strip_1_backstop__n1_0_.png
  test/visual-regression-tests/reference_images/FS_message-strip_2_backstop__n2_0_.png
  test/visual-regression-tests/reference_images/FS_message-strip_3_backstop__n3_0_.png
  test/visual-regression-tests/reference_images/FS_message-toast_0_backstop_0_.png
  test/visual-regression-tests/reference_images/FS_numeric-content_0_backstop_0_.png
  test/visual-regression-tests/reference_images/FS_page_0_backstop_0_.png
  test/visual-regression-tests/reference_images/FS_page_1_backstop__n1_0_.png
  test/visual-regression-tests/reference_images/FS_page_2_backstop__n2_0_.png
  test/visual-regression-tests/reference_images/FS_page_3_backstop__n3_0_.png
  test/visual-regression-tests/reference_images/FS_switch_0_backstop_0_.png
  test/visual-regression-tests/reference_images/FS_switch_1_backstop__n1_0_.png
  test/visual-regression-tests/reference_images/FS_switch_2_backstop__n2_0_.png
  test/visual-regression-tests/reference_images/FS_table_0_backstop_0_.png
  test/visual-regression-tests/reference_images/FS_tile_0_backstop_0_.png
Labels: storybook

#1178 chore: remove numeric content njk and clean up index.njk
  test/templates/index.njk
  test/templates/numeric-content/index.njk
  test/visual-regression-tests/reference_images/FS_numeric-content_0_backstop_0_.png
Labels: Testing Framework, Visual Testing, storybook

#1171 fix: add RTL for Panel expand button
  src/panel.scss
Labels: RTL

#1180 docs: Adapt section to storybook
  stories/section/__snapshots__/section.stories.storyshot
  stories/section/section.stories.js
  stories/section/section.visual.js
  storybook-testing/__image_snapshots__/Section-snap.png
  test/templates/index.njk
  test/templates/section/component.njk
  test/templates/section/index.njk
  test/visual-regression-tests/reference_images/FS_section_0_backstop_0_.png
  test/visual-regression-tests/reference_images/FS_section_1_backstop__n1_0_.png
Labels: storybook

#1176 fix: modify paddings for token and tokenizer
  src/token.scss
  src/tokenizer.scss
  storybook-testing/__image_snapshots__/Token-snap.png
Labels: Fiori 3 refactoring

#1106 feat: Add Headers to popin mode, add fixes to selection borders
  docs/pages/components/table.md
  src/table.scss
Labels: 0.11.0, blocked, design question

#1189 chore: bump storybook version
  package-lock.json
  package.json
Labels: Dependencies

#1184 feat: remove overlay.scss
  docs/_sass/_docs-display-component.scss
  docs/pages/layouts/shell-layout.md
  src/alert.scss
  src/dialog.scss
  src/message-strip.scss
  src/overlay.scss
Labels: Fiori 3 refactoring

#1185 fix: migrate fieldset to Fiori 3
  src/fieldset.scss
  stories/file-uploader/__snapshots__/file-uploader.stories.storyshot
  storybook-testing/__image_snapshots__/FileUploader-snap.png
  storybook-testing/__image_snapshots__/Icon-snap.png
  storybook-testing/__image_snapshots__/Radio-snap.png
  storybook-testing/__image_snapshots__/Section-snap.png
  storybook-testing/__image_snapshots__/Tabs-snap.png
Labels: Fiori 3 refactoring

#1186 feat: rename class fd-bar--cosy to fd-bar--cozy
  docs/pages/components/bar.md
  docs/pages/components/calendar.md
  docs/pages/components/dialog.md
  docs/pages/components/generic-tile.md
  docs/pages/components/menu.md
  docs/pages/components/message-box.md
  docs/pages/components/popover.md
  docs/pages/components/switch.md
  docs/pages/patterns/combobox-input.md
  docs/pages/patterns/date-picker.md
  docs/pages/patterns/multi-input.md
  docs/pages/patterns/time-picker.md
  src/bar.scss
  stories/bar/__snapshots__/bar.stories.storyshot
  stories/bar/bar.stories.js
  stories/calendar/calendar.stories.js
  stories/dialog/dialog.stories.js
  stories/generictile/__snapshots__/generic-tile.stories.storyshot
  stories/generictile/generic-tile.stories.mdx
  stories/menu/__snapshots__/menu.stories.storyshot
  stories/menu/menu.stories.js
  stories/message-box/__snapshots__/message-box.stories.storyshot
  stories/message-box/message-box.stories.js
  stories/popover/popover.stories.js
  stories/switch/switch.stories.js
Labels: Bug

#1187 feat: remove asset upload and product menu
  docs/_data/sidebars/left-navigation-sidebar.yml
  docs/_sass/_docs-display-component.scss
  docs/pages/components/asset-upload.md
  docs/pages/components/shellbar.md
  src/_product-menu.scss
  src/asset-upload.scss
  src/form-group.scss
  src/fundamental-styles.scss
  src/localization-editor.scss
  src/shellbar.scss
  src/table.scss
  stories/asset-upload/__snapshots__/asset-upload.stories.storyshot
  stories/asset-upload/asset-upload.stories.js
  stories/asset-upload/asset-upload.visual.js
  stories/shellbar/shellbar.stories.js
  storybook-testing/__image_snapshots__/AssetUpload-snap.png
Labels: Fiori 3 refactoring

#1201 docs: remove Newsletter from the documentation page
  docs/_sass/_landingPage.scss
  docs/index.html
Labels: Doc website

#1193 fix: remove double box shadow
  src/popover.scss
Labels: Bug

#1183 docs: add logo text example to bar
  stories/bar/bar.stories.js
Labels: Bug

#1191 fix: fixing HCB bugs
  src/action-bar.scss
  src/mixins/button/_attention.scss
  src/mixins/button/_ghost.scss
  src/mixins/button/_negative.scss
  src/mixins/button/_positive.scss
  src/mixins/button/_standard.scss
  src/shellbar.scss
Labels: 0.11.0, A11y, Bug

#1199 chore: travis only run pre-release on pushes to master (not for pull request)
  .travis.yml
Labels: tooling
