Repository SAP/fundamental-styles, pull requests merged in 2021-10, with the labels that each got.

#2753 fix(core): remove object status outline [ci visual]
  src/object-status.scss
Labels: Bug, stale

#2866 feat(styles): title and wizard delta for horizon
  src/styles/theming/sap_fiori_3.scss
  src/styles/theming/sap_fiori_3_dark.scss
  src/styles/theming/sap_fiori_3_hcb.scss
  src/styles/theming/sap_fiori_3_hcw.scss
  src/styles/theming/sap_fiori_3_light_dark.scss
  src/styles/theming/sap_horizon.scss
  src/styles/title.scss
  src/styles/wizard.scss
Labels: Theming

#2867 feat(styles): add toolbar horizon delta
  src/styles/theming/sap_fiori_3.scss
  src/styles/theming/sap_fiori_3_dark.scss
  src/styles/theming/sap_fiori_3_hcb.scss
  src/styles/theming/sap_fiori_3_hcw.scss
  src/styles/theming/sap_fiori_3_light_dark.scss
  src/styles/theming/sap_horizon.scss
  src/styles/toolbar.scss
  stories/toolbar/toolbar.stories.js
Labels: Theming

#2868 feat(styles): add horizon delta for Checkbox and Radio
  CHANGELOG.md
  src/styles/checkbox.scss
  src/styles/mixins/_forms.scss
  src/styles/radio.scss
  src/styles/theming/sap_fiori_3.scss
  src/styles/theming/sap_fiori_3_dark.scss
  src/styles/theming/sap_fiori_3_hcb.scss
  src/styles/theming/sap_fiori_3_hcw.scss
  src/styles/theming/sap_fiori_3_light_dark.scss
  src/styles/theming/sap_horizon.scss
  stories/checkbox/__snapshots__/checkbox.stories.storyshot
  stories/checkbox/checkbox.stories.js
  stories/radio/__snapshots__/radio.stories.storyshot
  stories/radio/radio.stories.js
Labels: Theming

#2874 feat(styles): introduce code component [ci visual]
  src/styles/code.scss
  src/styles/fundamental-styles.scss
  stories/code/__snapshots__/code.stories.storyshot
  stories/code/code.stories.js
Labels: documentation
